body .container{
    padding: 30px;
    background: #f9f9f9;
}
body .container h3{
    font-size: 36px;
    margin-bottom: 30px;
}
.parser-custom{
    width: 600px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.06);
    margin-top: 30px;
    border-radius: 5px;
}
.btn-success{
    margin-top: 20px;
}